<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-4 flex-col items-center text-center">
      <%= image_tag @bossue.user.thumbnail_url, class: 'w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-10' %>
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900"><%= @bossue.title %></h1>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500"><%= @bossue.bossue_sentence %></p>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500"><%= markdown @bossue.content %></p>


    </div>
  </div>
</section>
